
header { margin-left: 222px;
       margin-right: 222px;
       margin-top: 20px;
       margin-bottom: 20px;
       text-align: center;
       font-size: 25pt;
       border: 4px solid black;}

table {margin-left: auto;
       margin-right: auto;
       font-size: 22pt;}

th {padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;}
