body {background-image: url("duckbackground.jpg");}
header { margin-left: 200px;
       margin-right: 200px;
       margin-top: 20px;
       margin-bottom: 20px;
       text-align: center;
       font-size: 30pt;
       border: 4px solid black;}

table {margin-left: auto;
       margin-right: auto;
       font-size: 26pt;}

th {padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;}
