body {background-image: url("duckbackground.jpg");}
header { margin-left: 200px;
       margin-right: 200px;
       margin-top: 20px;
       margin-bottom: 20px;
       text-align: center;
       font-size: 30pt;
       border: 4px solid black;
       background-color: white;
       }

table {margin-left: auto;
       margin-right: auto;
       font-size: 26pt;
       border-width: 2px;
       }

th {padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    background-color: white;
     }
h1 {text-align: center;}

article {  margin-left: 275px;
       margin-top: 20px;
       margin-bottom: 20px;       
       color: white;
       font-size: 25pt;
       border: 4px solid black;
       box-sizing:content-box;
       width:1000px;
       height:1000px;
       background-color: black;
       padding-top: 30px;}
